
:root{
    --mainColor:#c7e0d5 ;
    --secondaryColor:rgb(192, 217, 204);

    --borderColor:#c1c1c1;
    --mainText:black;
    --secondaryText:#4b5156;

    --themeDotBorder:#24292e;
    --previewBg:rgb(251,249,243,0.8);
    --previewShadow:#f0ead6;

    --submitButtonColor:black;
    --logoColor:rgb(255, 255, 255);

    --aboutBg:rgb(236, 220, 220);
}